.aboutGlobale{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.aboutGlobale--Banner{
    display: flex;
    width: auto;
    height: 200px;
    margin-bottom: 60px;
}

.aboutGlobale--Depliants{
    display: flex;
    flex-direction: column;
    width: auto;
    height: fit-content;
    margin-left: 200px;
    margin-right: 200px;
}

.aboutGlobale--Depliants--items{
    margin-bottom: 30px;
}

@media only screen and (max-width : 900px){
    .aboutGlobale{
        width: 100%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }
    
    .aboutGlobale--Banner{
        display: flex;
        width: auto;
        height: 180px;
        margin-bottom: 25px;
    }
    
    .aboutGlobale--Depliants{
        display: flex;
        flex-direction: column;
        width: auto;
        height: fit-content;
        margin-left: 20px;
        margin-right: 20px;
    }
    
    .aboutGlobale--Depliants--items{
        margin-bottom: 15px;
    }
}