.ratingGlobal{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 10px;
}

.star{
    width: fit-content;
    height: 30px;
}

@media only screen and (max-width : 900px){
    .star{
        width: fit-content;
        height: 20px;
    }
}