.tagList{
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}


.tag p{
    width: fit-content;
    height: fit-content;
    background-color: #FF6060;
    border-radius: 15px;
    color: white;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
}