.containerProfils{
    width: 100%;
    height: fit-content;
    margin-bottom: 50px;
    margin-top: 30px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.backgroundProfils{
    width: auto;
    height: fit-content;
    margin-left: 180px;
    margin-right: 180px;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

@media only screen and (min-width : 1001px) and (max-width: 1300px){
    .backgroundProfils{
        width: auto;
        height: fit-content;
        margin-left: 100px;
        margin-right: 100px;
        border-radius: 20px;
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
}

@media only screen and (min-width : 671px) and (max-width: 1000px){
    .backgroundProfils{
        width: auto;
        height: fit-content;
        margin-left: 50px;
        margin-right: 50px;
        border-radius: 20px;
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
    }
}

@media only screen and (max-width : 670px){
    .containerProfils{
        width: 100%;
        height: fit-content;
        margin-bottom: 30px;
        margin-top: 15px;
        display:flex;
        justify-content: center;
        align-items: center;
    }
    
    .backgroundProfils{
        width: auto;
        height: fit-content;
        margin-left: 20px;
        margin-right: 20px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}