.containerBanner{
    width: 100%;
    height: 200px;
    margin-bottom: 100px;
    margin-top: 30px;
}

.bannerContour{
    width: auto;
    height: 100%;
    background-color: grey;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 20px;
    position: relative;
}

.bannerDeco{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.textBanner{
    position: absolute;
    top: 10px;
    left: 35%;
    color: white;
    font-size: 50px;
}