.containerBanner{
    width: 100%;
    height: 200px;
    margin-bottom: 100px;
    margin-top: 30px;
}

.bannerContour{
    width: auto;
    height: 100%;
    background-color: grey;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 20px;
    position: relative;
}

.bannerDeco{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.textBannerPos{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
}

.textBanner{
    color: white;
    font-size: 40px;
    filter: drop-shadow(0 0 0.1rem black);
}